.col-md-4 {
  height: 100vh;
}
.video{
  height: 50vh;
  background-color: black;
}

.imageq {
  background-color: aqua;
  height: 50vh;
}

.canvas{
  background-color: purple;
  height: 90vh;
}

.dispatch {
  height: 10vh;
  background-color: grey;
}

.logo {
  height: 40vh;
  background-color: white;
}
.info {
  height:20vh;
  background-color: burlywood;
}

.notes {
  height: 40vh;
  background-color: greenyellow;
}

.img_logo {
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
}